/* mycodestart */
.Jumbotron {
    background: url(https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_960_720.jpg);
    background-size: cover;
    background-color: #4e4c4cef;
    background-blend-mode: multiply;
}

.text-color {
    color: white;
}

.rowA {
    display: -ms-flexbox;
}

.Small {
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 0.5em 0.1em;
}

.Small-red {
    color: #ff0000;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0px;
}

.box-shadow {
    -webkit-box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.Card {
    color: #212529;
}

.Card:hover {
    -webkit-box-shadow: 0 28px 36px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 28px 36px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #000000;
    cursor: pointer;
}



#contact-us {
    padding: 50px 20px;
    position: relative;
    background: #f7f7f7
}

#contact-us .wrap {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center
}

#contact-us .wrap.affiliate .pannel-left {
    width: 58%
}

@media screen and (max-width:680px) {
    #contact-us .wrap.affiliate .pannel-left {
        width: 100%
    }
}

#contact-us .wrap.affiliate .page-title {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400
}

#contact-us .wrap.affiliate li {
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400
}

#contact-us .wrap.affiliate .pannel-right {
    width: 40%
}

@media screen and (max-width:680px) {
    #contact-us .wrap.affiliate .pannel-right {
        width: 100%
    }
}

#contact-us .wrap.affiliate .pannel-right .contact-form {
    width: 100%
}

#contact-us .wrap .pannel-left {
    display: inline-block;
    padding-right: 10%;
    vertical-align: top;
    width: 70%;
    line-height: 1.5;
    text-align: left
}

@media screen and (max-width:680px) {
    #contact-us .wrap .pannel-left {
        width: 100%;
        padding: 0
    }
}

#contact-us .wrap .pannel-left h2 {
    font-size: 35px;
    margin: 0 0 10px
}

#contact-us .wrap .pannel-left h2 span {
    color: #333;
    font-size: 14px;
    display: block
}

#contact-us .wrap .pannel-left h1 {
    font-size: 35px;
    margin: 0 0 10px
}

@media screen and (max-width:767px) {
    #contact-us .wrap .pannel-left h1 {
        font-size: 30px
    }
}

#contact-us .wrap .pannel-left h3 {
    font-size: 25px;
    margin: 15px 0 10px;
    font-weight: 500
}

#contact-us .wrap .pannel-left h3 p {
    font-size: 12px;
    margin-bottom: 10px
}

#contact-us .wrap .pannel-left p {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 300
}

#contact-us .wrap .pannel-left h4 {
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 500
}

#contact-us .wrap .pannel-left a {
    color: #00c5be;
    font-weight: 500
}

#contact-us .wrap .pannel-right {
    text-align: left;
    display: inline-block;
    width: 25%;
    line-height: 1.5
}

@media screen and (max-width:680px) {
    #contact-us .wrap .pannel-right {
        width: 100%;
        padding-top: 40px;
        border-top: 1px solid #ccc
    }
}

#contact-us .wrap .pannel-right h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 15px
}

#contact-us .wrap .pannel-right p {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 16px
}

#contact-us .wrap .pannel-right a {
    color: #00c5be
}

#contact-us .contact-form {
    margin-top: 30px
}

#contact-us .contact-form .contact-form-field {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: 0;
    width: 80%;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 16px
}

@media screen and (max-width:767px) {
    #contact-us .contact-form .contact-form-field {
        width: 95%
    }
}

#contact-us .contact-form .submit-btn {
    font-size: 16px;
    padding: 15px 50px
}

#contact-us .contact-form .submit-btn:hover {
    background: #00928d
}

/* mycode end */
